NodeRed MQTT/nodeRed_temp_distance.json
[
 {"id":"cdd48d74.f5378",
  "type":"mqtt-broker",
  "z":"feb6244d.f403c8",
  "broker":"mqtt.opensensors.io",
  "port":"1883",
  "clientid":"*", // change * by your device ID
  "usetls":false,
  "verifyservercert":true,
  "compatmode":true,
  "keepalive":"60",
  "cleansession":true,
  "willTopic":"",
  "willQos":"0",
  "willRetain":null,
  "willPayload":"",
  "birthTopic":"",
  "birthQos":"0",
  "birthRetain":null,
  "birthPayload":""
  },
 {"id":"7c98477c.bd98e8",
  "type":"mqtt in",
  "z":"feb6244d.f403c8",
  "name":"mqtt",
  "topic":"*", // change * by the topic to which you want to subscribe
  "broker":"cdd48d74.f5378",
  "x":65,"y":128,
  "wires":[["d142d80b.9d18c8"]]
  },
  {"id":"5ee5ab2e.2b4c64",
   "type":"debug",
   "z":"feb6244d.f403c8",
   "name":"",
   "active":true,
   "console":"false",
   "complete":"false",
   "x":774,"y":220,
   "wires":[]
   },
  {"id":"d142d80b.9d18c8",
   "type":"json",
   "z":"feb6244d.f403c8",
   "name":"",
   "x":214,
   "y":181,
   "wires":[["abfef069.51e72"]]
   },
  {"id":"abfef069.51e72",
   "type":"function",
   "z":"feb6244d.f403c8",
   "name":"distance",
   "func":"var msg= {payload: msg.payload};\nvar Mlat={payload:  43.300000};\nvar Mlon= {payload: 5.400000};\nvar lat={payload: msg.payload.__location.lat};\nvar lon={payload: msg.payload.__location.lon};\nvar radlat1 ={payload: Math.PI*(Mlat.payload)/180};\nvar radlat2 ={payload: Math.PI*(lat.payload)/180};\nvar theta ={payload: Mlon.payload-lon.payload};\nvar radtheta ={payload: Math.PI*(theta.payload)/180};\nvar dist ={payload: Math.sin(radlat1.payload)*Math.sin(radlat2.payload)+Math.cos(radlat1.payload)*Math.cos(radlat2.payload)*Math.cos(radtheta.payload)};\nvar d1={payload: Math.acos(dist.payload)};\nvar d2 ={payload: (d1.payload)* 180/Math.PI};\nvar d3={payload: (d2.payload)*60*1.1515};\nvar distance={payload: (d3.payload)*1.609344};\nvar bool= {payload: distance.payload <= 50 };\nif(bool.payload === true){\n    return msg;\n}\n    return (distance);\n \n\n","outputs":1,
   "noerr":0,"x":390,
   "y":241,
   "wires":[["dcb768a6.a780c8"]]
   },
  {"id":"dcb768a6.a780c8",
   "type":"function",
   "z":"feb6244d.f403c8",
   "name":"temperature alert",
   "func":"var msg= {payload: msg.payload};\nvar temp={payload: msg.payload.payload.temperature_catnip};\nvar bool= {payload: temp.payload >= 50 };\nif(bool.payload === true){\n    return msg;\n}\n",
   "outputs":1,
   "noerr":0,
   "x":563,
   "y":240,
   "wires":[["5ee5ab2e.2b4c64","5329b963.4f7988"]]
   },
   {"id":"5329b963.4f7988",
    "type":"e-mail",
	"z":"feb6244d.f403c8",
	"server":"smtp.gmail.com",
	"port":"465",
	"name":"*", // change * by the mail address to which you want to send the alert
	"dname":"mail alert",
	"x":743,
	"y":322,
	"wires":[]}]